[env]
env = local
secret_key = V3ryS3cret

[local]
engine = django.db.backends.sqlite3
db_name = db.sqlite3
debug = True
host = 0.0.0.0, 127.0.0.1
domain = 0.0.0.0
protocol = http

[production]
engine = django.db.backends.sqlite3
db_name = db.sqlite3
debug = False
host = 0.0.0.0, 127.0.0.1
domain = production.unam.mx
protocol = https
