{% extends "index.html" %}
{% load static %}

{% block title %} Registro {% endblock %}
{% block section%} Registro {% endblock %}

{% block extra_styles %}
{% endblock %}


{% block content %}

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">Crea una nueva cuenta</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-black">Ingresa tus datos para continuar.</p>
        <div class="box">
          <form method="POST"> {% csrf_token %}
            <div class="field">
              <div class="control">
                <input
                  type="text" name="username" class="input is-large" 
                  placeholder="Nombre de usuario" required="" id="id_username"
                >
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                  type="text" name="first_name" class="input is-large"
                  placeholder="Nombre" id="id_first_name"
                >
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                  type="text" name="last_name" class="input is-large"
                  placeholder="Apellidos" id="id_last_name"
                >
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                    type="email" name="email" class="input is-large"
                    placeholder="Correo electrónico" required="" id="id_email"
                >
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input type="password" name="password1" class="input is-large" placeholder="Contraseña" required="" id="id_password1">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input type="password" name="password2" class="input is-large" placeholder="Confirma tu contraseña" required="" id="id_password2">
              </div>
            </div>

            <button type="submit" class="button is-block is-info is-large is-fullwidth"> Continuar </button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block extra_scripts %}
{% endblock %}