{% load static %}

<footer class="footer">
  <div class="columns is-centered">
    <div class="column is-2">
      <figure class="image">
        <img src="{% static '/images/division-ciencias-tierra.png' %}">
      </figure>
    </div>

    <div class="column is-6 content is-small">
      <h2>Universidad Nacional Autónoma de México</h4>
      <p>División de Ingeniería en Ciencias de la Tierra.
        Universidad Nacional Autónoma de México.
        Facultad de Ingeniería, Edificio “A” Planta Baja,
        Av. Universidad 3000, Ciudad Universitaria,
        Delegación Coyoacán, México, Ciudad de México, Código Postal 04510.
        Horario de Atención:De 9:00 a 15:00 hrs. y de 17:00 a 21:00 hrs.
        De Lunes a Viernes.
      </p>
    </div>
    <div class="column is-2">
    </div>
  </div>
</footer>